{{ if .Site.Params.backgroundImage }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
<article class="ui raised card dream-card">
{{ end }}
  <div class="image">
    {{ if isset .Params "cover" | and  (ne .Params.cover "") }}
      <!-- <a href="{{ .Permalink }}"> -->
        <img  src="{{ .Params.cover }}" 
              alt="{{ .Title }}" 
              style="cursor: pointer;"
              onclick="window.location.href = '{{ .Permalink }}'"/>
      <!-- </a> -->
    {{ else }}
      <!-- <a href="{{ .Permalink }}"> -->
        <img  src="/postcover/cover{{ index (shuffle (seq 1 6)) 0 }}.png" 
              alt="{{ .Title }}" 
              onclick="window.location.href = '{{ .Permalink }}'"/>
      <!-- </a> -->
    {{ end }}
  </div>

  <div class="content">
    <h2 class="ui medium header">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="meta">
      <p class="date">{{ .Date.Format "Lundi, 1 Mars, 2020" }}</p>
      <p class="author">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</p>
    </div> 
    <div class="description">
      {{ .Summary | plainify | htmlUnescape }}
    </div>
  </div>

  <div class="extra content">
    <a>
      <i class="clock icon"></i>
      {{ .ReadingTime }}{{ i18n "minuteRead" }}
    </a>
  </div>
</article>
