---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/cse
  label: CSE
  create: all
  match: "**/*"
  templates:
  - cse
- type: directory
  path: content/rester-a-flot
  label: Rester à flot
  create: all
  match: "**/*"
  templates:
  - rester-a-flot
- type: directory
  path: content/soutenir-l-activite
  label: Soutenir L'activité
  create: all
  match: "**/*"
  templates:
  - soutenir-l-activite
- type: directory
  path: content/conditions-sanitaires
  label: Conditions Sanitaires
  create: all
  match: "**/*"
  templates:
  - conditions-sanitaires
- type: directory
  path: content/vivre-ensemble
  label: Vivre Ensemble
  create: all
  match: "**/*"
  templates:
  - vivre-ensemble
- type: directory
  path: content/developpement-de-nouveaux-produits
  label: Développement de nouveaux produits
  create: all
  match: "**/*"
  templates:
  - developpement-de-nouveaux-produits
- type: directory
  path: content/about
  label: About
  create: all
  match: "**/*"
upload_dir: static
public_path: ''
front_matter_path: ''
use_front_matter_path: false
file_template: ":slug:/:filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.63.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
version: 0.63.2
