{{ if eq .current_url "/soutenir-l-activite/ameliorer-nos-produits/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_hmLddW0Z_livraison-plateforme_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/hmLddW0Z/livraison-plateforme" "title" "Trello: Plateforme") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_q67bD52J_agv_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/q67bD52J/agv" "title" "Trello: AGV") }}
{{ end }}

{{ if eq .current_url "/developpement-de-nouveaux-produits/ameliorer-la-formation-et-le-developpement-du-kkr/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_MEFL80oi_mooc_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/MEFL80oi/mooc" "title" "Trello: MOOC") }}
{{ end }}

{{ if eq .current_url "/soutenir-l-activite/livrer-les-clients/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_ATNsRNea_livraisons-client_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/ATNsRNea/livraisons-client" "title" "Trello: Livraisons Clients") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_XGRjeR6h_production_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/XGRjeR6h/production" "title" "Trello: Production") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_6W1oIhjg_supply-chain_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/6W1oIhjg/supply-chain" "title" "Trello: Supply Chain") }}
{{ end }}
