{{ if eq .current_url "/soutenir-l-activite/ameliorer-nos-produits/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_hmLddW0Z_livraison-plateforme_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/hmLddW0Z/livraison-plateforme" "title" "Trello: Plateforme") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_q67bD52J_agv_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/q67bD52J/agv" "title" "Trello: AGV") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_XBicPMMK_numii_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/XBicPMMK/numii" "title" "Trello: Numii") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_dMPSLNsT_kanban_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/dMPSLNsT/kanban" "title" "Trello: Kanban") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_n1NMIBkT_hiifu_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/n1NMIBkT/hiifu" "title" "Trello: Hiifu") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_lifNIVfE_dev-plateforme_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/lifNIVfE/dev-plateforme" "title" "Trello: Developpement de la Plateforme") }}
{{ end }}

{{ if eq .current_url "/developpement-de-nouveaux-produits/ameliorer-la-formation-et-le-developpement-du-kkr/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_MEFL80oi_mooc_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/MEFL80oi/mooc" "title" "Trello: MOOC") }}
{{ end }}

{{ if eq .current_url "/soutenir-l-activite/livrer-les-clients/" }}
    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_vynca1Np_team-bleue_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/vynca1Np/team-bleue" "title" "Trello: Team Bleue") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_JWgMAmvp_team-jaune_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/JWgMAmvp/team-jaune" "title" "Trello: Team Jaune") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_eHGCrhgh_production_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/eHGCrhgh/production" "title" "Trello: Production") }}

    {{ partial "trello.html" (dict "path" "https_trello.com_443_b_6W1oIhjg_supply-chain_with_label.png" "tree_path" "../../" "link" "https://trello.com/b/6W1oIhjg/supply-chain" "title" "Trello: Supply Chain") }}
{{ end }}
