<div class="ui centered relaxed grid dream-grid">
  <div class="sixteen wide mobile eight wide tablet wide computer column dream-column">
    <article class="dream-header">
      <section class="ui top attached center aligned segment">
        <div class="ui small image">
          {{ if isset .Site.Params "avatar" }}
            <a href="{{ .Site.BaseURL }}" title="Home">
              <img src="{{ .Site.Params.avatar }}">
            </a>
          {{ end }}
        </div>

        <!-- <h1 class="ui medium header">
          {{- .Site.Params.author -}}
          <div class="sub header" style="margin-top: 0.5rem;">{{- .Site.Params.motto -}}</div>
        </h1> -->
      </section>
      {{ if .Site.Menus.main }}
      <section class="ui attached center aligned segment dream-tags">
        <!-- <h3>Menu</h3> -->
        <!-- <span class="ui">Menu</span> -->
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a  class="ui label" 
              href="{{ .URL }}" 
              title="{{ .Name }}"
              style="width: 150px;">{{ .Name }}</a>
        {{ end }}
        <div style="width: 200px;"></div>
<!--         <div class="ui horizontal list">
          {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
          <a class="item" href="/posts">
            <i class="archive icon" title="{{ i18n "archives" }}"></i>
          </a>
          {{ end }}
          <a class="item" href="/tags">
            <i class="tags icon" title="{{ i18n "allTags" }}"></i>
          </a>
          <a class="item" href="/categories">
            <i class="th list icon" title="{{ i18n "allCategories" }}"></i>
          </a>
        </div> -->
      </section>
      {{ end }}
    <!--   <section class="ui bottom attached center aligned segment">
          <a href="https://aio.eu/" alt="Site aio">aio.eu</a> - 
          <a href="https://aio-platform.eu/" alt="paltform aio">aio-platform.eu</a>
      </section> -->
    </article>
  </div>
</div>

